# node_modules (all workspaces)
node_modules

# pnpm
.pnpm-store

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# env files
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea
